.department-page{
    &__department-title {
        border-radius: 20px;
        border: 1px var(--grey) solid;
        background-color: var(--white);
        padding: 8px 14px;
        align-self: start;
        min-width: min-content;
        max-width: max-content;
    }

    &__department-list {
        margin-top: 50px;
    }
}

.wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}
