.department-page{
    display: flex;
    flex-direction: column;

    &__department-title {
        border-radius: 20px;
        border: 1px var(--grey) solid;
        background-color: var(--white);
        padding: 8px 14px;
        align-self: start;
    }

    &__department-list {
        margin-top: 50px;
    }
}

.wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.wrapper-grid {
    width: auto;
    grid-template-columns: repeat(12, 80px);
}
