.modal {
    z-index: 1200;
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 50%;

    &__header {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        transform: translate(1.5rem, 100%);
    }

    &__title {
        color: var(--main-accent-color);
    }

    &__body {
        padding: 2rem 2.5rem;
        border-radius: 20px;
        box-shadow: var(--box-shadow-main);
        border: 3px solid var(--main-accent-color);
        background-color: var(--white);

        h2 {
            font-size: 16px;
            font-weight: 500;
            white-space: nowrap;
        }

        &.success {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-top: 2rem;
        gap: 2rem;
    }

    &__form-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
        gap: 0.5rem;
        width: 100%;

        & input {
            transition: .3s ease;
            padding: 0.75rem 1rem;
            border-radius: 10px;
            border-style: solid;
            font-size: var(--font-size--main);
            font-family: var(--main-font-family);
            color: var(--font-primary);
            border: 1px solid var(--border-color);
            appearance: none;
            -moz-appearance: textfield;

            &:focus {
                outline: none;
                border-color: var(--main-accent-color);
            }

            &:disabled {
                background-color: var(--white);
            }

            &.long-input {
                width: calc(100% - 2rem);
            }

            &.input-60 {
                width: 60%;
            }
        }

        & .select-group {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: 1rem;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            appearance: none;
            -webkit-appearance: none;
        }

        & .upload {
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
            align-items: flex-end;

            &:hover {
                cursor: pointer;
                path {
                    fill: var(--main-accent-color-hover);
                }
            }

            & .not-uploaded {
                color: var(--main-accent-color);
                font-weight: 600;
                &:hover {
                    color: var(--main-accent-color-hover);
                }
            }

            & .uploaded {
                word-break: break-all;
            }

            & .file {
                font-weight: 400;
                color: var(--font-primary);
            }
        }

        & .input-block {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 0.25rem;
        }

        & .select-block {
            display: flex;
            flex-direction: column;
            gap: 0.25rem;
        }

        &.icon-block {
            display: flex;
            flex-direction: row;
            gap: 1rem;
        }

        & .button-block {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            label {
                margin-top: 0.5rem;
            }
        }

        & .error {
            margin-top: 0.25rem;
        }
    }

    &__form-submit {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;

        & input {
            border: none;
            border-radius: 20px;
            font-size: var(--font-size--main);
            text-transform: uppercase;
            padding: 0.75rem 1.5rem;
            color: var(--white);
            background-color: var(--main-accent-color);
    
            &:hover {
                color: var(--font-primary);
                cursor: pointer;
            }
    
            &:disabled {
                background-color: var(--grey);
    
                &:hover {
                    color: var(--white);
                    cursor: default;
                }
            }
        }

    }

    & .transparent-button {
        padding: 0.5rem 1rem;
        border-radius: 20px;
        border: none;
        text-transform: uppercase;

        color: var(--font-primary);
        font-family: var(--main-font-family);
        font-size: var(--font-size--main);
        background-color: transparent;

        &:hover {
            cursor: pointer;
            color: var(--main-accent-color);
        }
    }
}

.success-text {
    text-align: center;

    & .bold {
        font-weight: 700;
    }

    & .uppercase {
        text-transform: uppercase;
    }
}

.icon {
    &:hover {
        cursor: pointer;
        stroke: var(--main-accent-color);

        .icon__path {
            stroke: var(--main-accent-color);
        }
    }

}

input[type="file"] {
    display: none;
}

.error {
    color: var(--error-text-color);
}