<div class="wrapper">
    <div class="wrapper-grid">
        <div class="wrapper-flex column-1-13">
            <div class="logo">
                <h1>HR-портал</h1>
            </div>
            <div class="content" *ngIf="user | async as user">
                <div class="content-left">
                    <p *ngFor="let route of routes" [class.active-route]="isActive('/' + route.path)" (click)="redirectTo(route.path, true)">{{route.name}}</p>
                </div>
                <div class="content-right">
                    <p class="inactive" (click)="redirectTo('profile/resume', false)">РЕЗЮМЕ</p>
                    <div class="profile" (click)="redirectTo('profile', true)">
                        <img src="assets/img/profile-placeholder.png">
                        <!-- placeholder image need to be fixed -->
                        <p>{{getUserName(user.fullname)}}</p>
                    </div>
                    <!-- <img class="logout" src="assets/img/logout.svg" (click)="logout()"> -->
                    <svg class="logout" (click)="logout()" width="18" height="23" viewBox="0 0 18 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="outer" d="M10.431 1.0026C8.33157 1.00259 1.13294 0.702618 1.13324 6.55125C1.13351 11.8 0.833312 15.7991 1.13324 17.1988C1.61527 19.4482 2.93284 22.8974 10.431 22.4475" stroke="#4C4C4C"/>
                        <path class="inner" d="M17.5338 11.5537C17.7291 11.3584 17.7291 11.0418 17.5338 10.8466L14.3518 7.6646C14.1566 7.46934 13.84 7.46934 13.6447 7.6646C13.4495 7.85986 13.4495 8.17645 13.6447 8.37171L16.4732 11.2001L13.6447 14.0286C13.4495 14.2238 13.4495 14.5404 13.6447 14.7357C13.84 14.9309 14.1566 14.9309 14.3518 14.7357L17.5338 11.5537ZM6.38281 11.7001H17.1803V10.7001H6.38281V11.7001Z" fill="#4C4C4C"/>
                    </svg>
                    <!-- Тут кнопка настроек буит -->
                    <svg *ngIf="user.isAdmin" class="logout" (click)="logout()" width="18" height="23" viewBox="0 0 18 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="outer" d="M10.431 1.0026C8.33157 1.00259 1.13294 0.702618 1.13324 6.55125C1.13351 11.8 0.833312 15.7991 1.13324 17.1988C1.61527 19.4482 2.93284 22.8974 10.431 22.4475" stroke="#4C4C4C"/>
                        <path class="inner" d="M17.5338 11.5537C17.7291 11.3584 17.7291 11.0418 17.5338 10.8466L14.3518 7.6646C14.1566 7.46934 13.84 7.46934 13.6447 7.6646C13.4495 7.85986 13.4495 8.17645 13.6447 8.37171L16.4732 11.2001L13.6447 14.0286C13.4495 14.2238 13.4495 14.5404 13.6447 14.7357C13.84 14.9309 14.1566 14.9309 14.3518 14.7357L17.5338 11.5537ZM6.38281 11.7001H17.1803V10.7001H6.38281V11.7001Z" fill="#4C4C4C"/>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrapper-bottom">
    <div class="wrapper-grid">
        <div class="wrapper-breadcrumbs column-1-13">
            <app-breadcrumb [url]="''" [label]="'HR-портал'"></app-breadcrumb>
            <div class="wrapper-breadcrumbs-breadcrumb" *ngFor="let breadcrumb of breadcrumbs; index as i">
                <p>></p>
                <app-breadcrumb [url]="breadcrumb.url" [label]="breadcrumb.label"></app-breadcrumb>
            </div>
        </div>
    </div>
</div>