<div class="layout" [class.read]="notificationViewModel.read" (click)="markRead()">
    <div class="layout__top">
        <div class="state">
            {{ notificationViewModel.readState }}
        </div>
        <div class="time">
            {{ notificationViewModel.notifyTime | date: 'dd.MM.yyyy HH:mm' }}
        </div>
    </div>
    <div class="content"
         [ngSwitch]="notificationViewModel.type"
         *ngIf="employee$ | async as employee">
        <div class="content" *ngSwitchCase="NotificationType.RESUME_RESPONSE">
            <ng-container [ngTemplateOutlet]="resumeResponse">
            </ng-container>
        </div>
        <div class="content" *ngSwitchCase="NotificationType.VACANCY_RESPONSE">
            <ng-container [ngTemplateOutlet]="vacancyResponse"></ng-container>
        </div>
        <div class="content" *ngSwitchCase="NotificationType.activityReceived">
            <ng-container [ngTemplateOutlet]="activityReceived"></ng-container>
        </div>
        <div class="content" *ngSwitchCase="NotificationType.activityStatusChanged">
            <ng-container [ngTemplateOutlet]="activityStatusChanged"></ng-container>
        </div>
    </div>
    <div class="layout__bottom" *ngIf="employee$ | async as employee">
        <span class="contact">{{employee.email}}</span>
        <span class="contact" *ngIf="employee.contact">{{employee.contact}}</span>
    </div>
</div>

<ng-template #resumeResponse>
    <span>
        На ваше резюме <span class="bold highlight">{{(resume$ | async)?.desiredPosition}}</span> получен отклик
        от руководителя <span class="highlight">{{getEmployeeName((employee$ | async)?.fullname ?? '')}}</span> из отдела "{{department$ | async}}".
    </span>
</ng-template>

<ng-template #vacancyResponse>
    <span>
        На вашу вакансию <span class="highlight bold">{{(vacancy$ | async)?.position}}</span> получен отклик от руководителя
        <span class="highlight">{{getEmployeeName((employee$ | async)?.fullname ?? '')}}</span>.
    </span>
</ng-template>

<ng-template #activityReceived>
    <span>
        Сотрудник <span class="highlight">{{getEmployeeName((employee$ | async)?.fullname ?? '')}}</span> отправил
        активность “<span class="highlight bold">{{(activity$ | async)?.name}}</span>” на согласование.
    </span>
</ng-template>

<ng-template #activityStatusChanged>
    <span *let="activity$ | async as activity">
        Руководитель <span class="highlight">{{getEmployeeName((employee$ | async)?.fullname ?? '')}}</span> изменил статус
        активности “<span class="highlight bold">{{activity?.name}}</span>” на
        “{{ActivityStateModelConst[activityStatus].text}}”.
    </span>
</ng-template>
