<div class="employee-card">
    <a class="link-wrapper" [routerLink]="viewModel.userId.toString()">
        <div class="employee-card__name">
            <span>{{viewModel.name}}</span>
        </div>
        <div class="employee-card__email">
            {{viewModel.email}}
        </div>
        <div class="employee-card__work-experience" *ngIf="viewModel.workExperience">
            Опыт работы: {{viewModel.workExperience}}
        </div>
        <div class="employee-card__skills">
            {{viewModel.skillString}}
        </div>
    </a>
    <div class="buttons" *ngIf="user$ | async as user">
        <ng-container *ngIf="viewModel.resumeExists">
            <button class="employee-card__resume-button" (click)="toResume($event)">Резюме</button>
        </ng-container>
        <ng-container *ngIf="viewModel.isActive && viewModel.id !== user.id">
            <button class="employee-card__resume-button" (click)="deleteEmployee(viewModel, $event)">Удалить</button>
        </ng-container>
    </div>
</div>



