@import "../styles/secondary-button";

.add-skill {
    display: flex;
    flex-direction: row;
    align-items: center;

    &__name-field {
        transition: .3s ease;
        font-size: var(--font-size--main);
        font-family: var(--main-font-family);
        color: var(--font-primary);
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--border-color);
        background-color: var(--white);
        border-radius: 10px;
        padding: 0.35rem 0.7rem;

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: var(--input-placeholder-color);
        }
    }

    &__add-button {
        background-color: var(--main-accent-color);
        border-radius: 20px;
        border: none;
        padding: 5px 10px;
        margin-left: 20px;
        cursor: pointer;
    }

    &__button-text {
        color: var(--white);
        font-size: 16px;
        font-weight: 600;
    }

    &__close {
        margin-left: 22px;
        fill: var(--main-accent-color);
        cursor: pointer;
    }
}
