<div class="wrapper">
    <div class="wrapper-grid">
        <div class="wrapper-flex column-4-10">
            <div class="title">
                <app-logo-icon></app-logo-icon>
                <label>АВТОРИЗАЦИЯ</label>
            </div>
            <form [formGroup]="signInForm" (submit)="signIn()" class="form">
                <input id="email" formControlName="email" type="email" class="form-control"
                    [placeholder]="emailPlaceholder" (blur)="emailBlur()" (focus)="emailFocus()"
                    (input)="emailChange()">
                <input id="password" formControlName="password" type="password" class="form-control"
                    [placeholder]="passwordPlaceholder" (blur)="passwordBlur()" (focus)="passwordFocus()"
                    (input)="passwordChange()">
                <app-errors [errors]="errors"></app-errors>
                <label class="forgot-password" (click)="forgotPassword()">Забыли пароль?</label>
                <input *ngIf="!isLoading" type="submit" value="ВХОД" [disabled]="signInForm.invalid">
                <app-loader *ngIf="isLoading"></app-loader>
                <p class="error" [@contentExpansion]="submitError ? 'expanded' : 'collapsed'">{{ submitError?.message }}
                </p>
            </form>
            <div class="navigation">
                <label>Нет аккаунта?</label>
                <label class="navigation-button" (click)="toSignUp()">Создать</label>
            </div>
        </div>
    </div>
</div>
