.wrapper {
    display: flex;
    justify-content: center;   
    width: 100%;
}

.wrapper-grid {
    width: auto;
    grid-template-columns: repeat(12, 80px);
}

.wrapper-flex {
    box-sizing: border-box;
    margin-top: 5%;
    padding: 3em 2em 4em 2em;
    border: 1px solid var(--border-color);
    box-shadow: var(--box-shadow--main);
    background: var(--primary-color);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    & .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        color: var(--font-primary);

        h1 {
            margin: 1rem 0;
            font-size: 30px;
            font-weight: 800;
            color: var(--main-accent-color);
        }
    }

    & .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;

        h1 {
            margin: 0;
            font-size: 60px;
            color: var(--main-accent-color);
        }
        
        button {
            background-color: transparent;
            border: none;
            font-family: var(--main-font-family);
            text-transform: uppercase;
            color: var(--font-primary);
            font-size: 16px;
            
            &:hover {
                cursor: pointer;
                color: var(--main-accent-color);
            }
        }
    }
}
