<div class="wrapper">
    <div class="wrapper-grid">
        <div class="wrapper-flex column-4-10">
            <div class="title">
                <h1>HR-portal</h1>
                <label>АВТОРИЗАЦИЯ</label>
            </div>
            <form [formGroup]="signInForm" (submit)="signIn()" class="form">
                <input id="email" formControlName="email" type="email" class="form-control"
                    [placeholder]="emailPlaceholder" (blur)="emailBlur()" (focus)="emailFocus()"
                    (input)="emailChange()">
                <input id="password" formControlName="password" type="password" class="form-control"
                    [placeholder]="passwordPlaceholder" (blur)="passwordBlur()" (focus)="passwordFocus()"
                    (input)="passwordChange()">
                <label class="forgot-password" (click)="forgotPassword()">Забыли пароль?</label>
                <app-errors [errors]="errors"></app-errors>
                <input type="submit" value="ВХОД" [disabled]="signInForm.invalid">
                <app-error [error]="submitError" [@contentExpansion]="submitError ? 'expanded' : 'collapsed'"></app-error>
            </form>
            <div class="navigation">
                <label>Нет аккаунта?</label>
                <label class="navigation-button" (click)="toSignUp()">Создать</label>
            </div>
        </div>
    </div>
</div>