<div class="layout">
    <div class="layout__top">
        <div class="layout__top-left">
            <div class="layout__entities-count">
                <span>{{ pageDataService.itemsCount }} {{pageDataService.itemsCount | employeeDeclination}} </span>
            </div>
            <div class="layout__search">
                <employee-search></employee-search>
            </div>
        </div>
        <div class="layout__top-right">
            <div class="layout__filter-button" (click)="toggleFilters()">
                <filter-icon></filter-icon>
            </div>
        </div>
    </div>
    <div class="layout__bottom" *let="filtersOpened$ | async as filtersOpened">
        <div class="layout__filter-block"
             [@contentExpansionHorizontal]="filtersOpened ? 'expanded' : 'collapsed'"
             stickySidebar
             innerWrapperSelector=".layout__filter-block-inner"
             topSpacing="24"
             bottomSpacing="24"
             [minWidth]="400"
             [updateSticky]="filtersOpened$">
            <div class="layout__filter-block-inner">
                <employee-filters></employee-filters>
            </div>
        </div>
        <div class="layout__employee-list">
            <employee-list (reloadPage)="filters.applyFilters()">
            </employee-list>
        </div>
    </div>
</div>

