<div class="wrapper">
    <div class="wrapper-grid">
        <div class="wrapper-flex column-1-13">
            <div class="layout">
                <div class="layout__top">
                    <div class="layout__top-left">
                        <div class="layout__entities-count">
                            <span>{{ pageDataService.itemsCount ?? 0 }} {{pageDataService.itemsCount | employeeDeclination}} </span>
                        </div>
                        <div class="layout__search">
                            <employee-search></employee-search>
                        </div>
                    </div>
                    <div class="layout__top-right">
                        <div class="layout__filter-button" (click)="toggleFilters()">
                            <filter-icon></filter-icon>
                        </div>
                    </div>
                </div>
                <div class="layout__bottom" *let="filtersOpened$ | async as filtersOpened">
                        <div class="layout__filter-block"
                             [@contentExpansionHorizontal]="filtersOpened ? 'expanded' : 'collapsed'"
                             stickySidebar
                             containerSelector=".content__main"
                             innerWrapperSelector=".inner"
                             topSpacing="24"
                             bottomSpacing="24"
                             [minWidth]="400"
                             [updateSticky]="filtersOpened$">
                            <div class="layout__filter-block">
                                <employee-filters></employee-filters>
                            </div>
                        </div>
                    <div class="layout__employee-list">
                        <employee-list>
                        </employee-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
