<div class="wrapper">
    <div class="wrapper-grid">
        <div class="wrapper-flex column-4-10">
            <div class="title">
                <img alt="логотип" src="assets/img/app-logo.svg">
                <label>СБРОС ПАРОЛЯ</label>
            </div>
            <form *ngIf="!isLoading else loader" class="form" [formGroup]="resetPasswordForm"
                (submit)="resetPassword()">
                <div class="input-block">
                    <input id="password" formControlName="password" type="password" class="form-control"
                        [placeholder]="passwordPlaceholder" (blur)="passwordBlur()" (focus)="passwordFocus()"
                        (input)="passwordChange()">
                    <app-error [@contentExpansion]="errors.password? 'expanded' : 'collapsed'"
                        [error]="errors.password!"></app-error>
                </div>
                <div class="input-block">
                    <input id="confirmPassword" formControlName="confirmPassword" type="password" class="form-control"
                        placeholder="Подтвердите пароль" (input)="confirmPasswordChange()">
                    <app-error [@contentExpansion]="errors.confirmPassword? 'expanded' : 'collapsed'"
                        [error]="errors.confirmPassword!"></app-error>
                </div>
                <input type="submit" value="Сбросить пароль"
                    [disabled]="resetPasswordForm.invalid || resetPasswordForm.pending">
                <label class="success" *ngIf="successMessage">{{ successMessage }}</label>
                <label class="error" *ngIf="errorMessage">{{ errorMessage }}</label>
            </form>

            <ng-template #loader>
                <div class="loader">
                    <img src="assets/img/loader.gif">
                </div>
            </ng-template>
        </div>
    </div>
</div>
