<div class="container" *ngIf="model$ | async as model">
    <ng-container *let="updater$ | async">
        <p class="title" [ngClass]="{'selected': isHeaderSelected}" (click)="model.children ? setOpenState(true) : itemSelected(model)" >{{model.buttonTitle}}</p>
        <ng-container *ngIf="isHover && model.children">
            <div class="selector-dropdown" (outer-click)="setOpenState(false)">
                <a (click)="itemSelected(buttonModel)" class="selector-dropdown__item"
                   *ngFor="let buttonModel of model.children" [ngClass]="{'selected': isSelected(buttonModel)}">
                    <span>{{ buttonModel.buttonTitle }}</span>
                </a>
            </div>
        </ng-container>
    </ng-container>
</div>
