<div class="modal">
    <div class="modal__content">
        <div class="modal__header">
            <cross-icon appHoverListener (click)="close()"></cross-icon>
        </div>
    </div>
    <div class="modal__body success"
    *ngIf="!submitted else submit">
        <span class="success-text">Убрать <span class="bold">в архив </span>вакансию на позицию <span
            class="bold">«{{this.vacancy.position}}»</span>?</span>
        <div class="modal__buttons" *ngIf="!isLoading">
            <button class="input-button confirm" (click)="archiveVacancy()">Да</button>
            <button class="input-button cancel" (click)="cancelArchive()">Отмена</button>
        </div>
        <app-loader *ngIf="isLoading"></app-loader>
        <app-error *ngIf="error.message" [error]="error"></app-error>
    </div>
</div>
<ng-template #submit>
    <div class="modal__body success">
        <success-icon></success-icon>
        <span class="success-text">Вакансия на позицию <span
            class="bold">«{{this.vacancy.position}}»</span> успешно добавлена в архив!</span>
    </div>
</ng-template>
