<div class="wrapper">
    <div class="wrapper-hover" (click)="openVacancy()">
        <div class="title">
            <div class="title__position">
                <h1>{{vacancy.position}}</h1>
                <p>от {{vacancy.salary}} рублей</p>
            </div>
            <p class="title__date">{{vacancy.createdAt | date: 'dd.MM.yyyy'}}</p>
        </div>
    </div>
    <div class="department">
        {{vacancy.department.name}}
    </div>
    <div class="description">
        {{description}}
    </div>
    <div class="skills"
         *ngIf="vacancy.requiredSkills.length">
        {{skillsToString(vacancy.requiredSkills)}}
    </div>
    <div class="buttons">
        <button class="response"
                *ngIf="status === Status.public"
                (click)="responseVacancy()">
            Откликнуться
        </button>
        <button class="delete"
                *ngIf="status === Status.archived"
                (click)="deleteVacancy()">
            Удалить
        </button>
        <button class="response"
                *ngIf="status === Status.archived"
                (click)="removeVacancyFromArchive()">
            Убрать из архива
        </button>
    </div>
</div>
