.wrapper {
    display: flex;
    justify-content: center;   
    width: 100%;
}

.wrapper-grid {
    width: auto;
    grid-template-columns: repeat(12, 80px);
}

.wrapper-flex {
    box-sizing: border-box;
    margin-top: 5%;
    padding: 3em 2em 4em 2em;
    border: 1px solid var(--border-color);
    box-shadow: var(--box-shadow--main);
    background: var(--primary-color);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;

    & .title {
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        color: var(--font-primary);

        h1 {
            margin: 1rem 0;
            font-size: 30px;
            font-weight: 800;
            color: var(--main-accent-color);
        }
    }

    & .loader {
        width: 100%;
        display: flex;
        justify-content: center;
        img {
            width: 50px;
            height: 50px;
        }
    }
}

.form {
    padding: 2em 1em 1em 1em;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    & .input-block {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
    }
}

.form-control {
    transition: all .6s ease;
}

input[type=submit] {
    background-color: var(--main-accent-color);
    border: none;
    cursor: pointer;
    font-size: large;
    color: var(--font-primary);
    font-family: var(--main-font-family);
    font-weight: 700;
    margin-bottom: 0;
    &:hover {
        background-color: var(--main-accent-color-hover);
    }

    &:disabled {
        background-color: var(--disabled-color);
        cursor: default;
    }
}

input {
    display: inline-block;
    box-sizing: border-box;
    font-size: 16px;
    height: 3rem;
    width: 100%;
    border-style: solid;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 0.5rem 1rem;

    &:focus {
        outline: none;
        border-color: var(--main-accent-color);
    }  
}

.error {
    color: var(--error-text-color);
}

.success {
    color: var(--success-text-color);
}
