<div class="wrapper">
    <div class="wrapper-grid">
        <div class="wrapper-flex column-4-10">
            <div class="title">
                <img alt="логотип" src="assets/img/app-logo.svg">
                <label>ЗАБЫЛИ ПАРОЛЬ</label>
            </div>
            <form [formGroup]="recoveryRequestForm" (submit)="sendRequest()" class="form">
                <div class="input-block">
                    <input id="email" formControlName="email" type="email" class="form-control"
                        [placeholder]="emailPlaceholder" (blur)="emailBlur()" (focus)="emailFocus()"
                        (input)="emailChange()">
                    <app-error [@contentExpansion]="errors.email? 'expanded' : 'collapsed'"
                        [error]="errors.email!"></app-error>
                </div>
                <input type="submit" value="ОТПРАВИТЬ" [disabled]="recoveryRequestForm.invalid">
                <label class="success" *ngIf="successMessage">{{ successMessage }}</label>
                <label class="error" *ngIf="errorMessage">{{ errorMessage }}</label>
            </form>
            <div class="navigation">
                <label class="navigation-button" (click)="toSignIn()">Назад</label>
            </div>
        </div>
    </div>
</div>
