.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    max-height: 80px;
    border-bottom: 2px solid var(--border-color);
}

.wrapper-flex {
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.wrapper-bottom {
    width: 100%;
    display: flex;
    justify-content: center;
}

.wrapper-breadcrumbs {
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
    align-items: center;

    & .breadcrumbs {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        align-items: center;
        min-width: max-content;
    }

    & .resume-notification {
        display: flex;
        align-items: flex-start;
        gap: 0.25rem;
        margin-left: 40px;

        & .text {
            border: 1px solid var(--main-accent-color);
            background-color: var(--white);
            border-radius: 0 20px 20px 20px;
            padding: 1rem;
        }
    }

    &-breadcrumb {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
    }
}

.logo {
    max-height: 80px;

    h1 {
        position: relative;
        bottom: 4px;
        font-size: 24px;
        font-weight: 800;
        color: var(--main-accent-color);
        white-space: nowrap;
        letter-spacing: 0.12rem;
    }
}

.content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;

    &-left {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        gap: 1rem;

        p {
            text-align: center;
            vertical-align: text-bottom;
            transition: .3s ease;

            &:hover {
                color: var(--main-accent-color);
                cursor: pointer;
            }
        }


        & .active-route {
            font-weight: 700;

            &:hover {
                cursor: default;
                color: var(--font-primary-color);
            }
        }

    }

    &-right {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        align-items: center;
        gap: 2rem;

        & button {
            transition: .3s ease;
            text-transform: uppercase;
            background-color: transparent;
            border: none;
            color: var(--font-primary);
            font-size: var(--font-size-main);
            font-family: var(--main-font-family);
            padding: 0;
            margin: auto 0;

            &:hover {
                color: var(--main-accent-color);
                cursor: pointer;
            }

            &:disabled {
                color: var(--font-disabled);

                &:hover {
                    color: var(--font-disabled);
                    cursor: default;
                }
            }
        }

        .active {
            font-weight: 700;
        }

        & .profile {
            display: flex;
            align-items: center;
            gap: 1rem;
            text-transform: uppercase;

            img {
                height: 35px;
                width: 35px;
                border-radius: 50%;
                object-fit: cover;
            }

            &:hover {
                color: var(--main-accent-color);
                cursor: pointer;
            }
        }
    }
}

.clickable {
    &:hover {
        cursor: pointer;
        color: var(--main-accent-color);
        text-decoration: underline;
        text-decoration-skip-ink: none;
    }
}

.bold {
    font-weight: 700;
}

@media screen and (max-width: 1000px) {
    .content {
        justify-content: flex-end;
    }

    .content-left {
        display: none;
    }
}
