.modal {
    z-index: 1200;
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    justify-content: center;

    &__header {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        transform: translate(1.5rem, 100%);

        & span {
            cursor: pointer;
            transition: .3s ease;

            &:hover {
                transform: scale(1.4);
            }
        }
    }

    &__body {
        padding: 2rem 2.5rem;
        border-radius: 20px;
        box-shadow: var(--box-shadow-main);
        border: 3px solid var(--main-accent-color);
        background-color: var(--white);

        h2 {
            font-size: 16px;
            font-weight: 500;
            white-space: nowrap;
        }

        &.success {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        gap: 2rem;
    }

    &__form-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        & .filename {
            color: var(--main-accent-color);
            word-break: break-all;

            &:hover {
                cursor: pointer;
            }
        }

        & .upload {
            &:hover {
                cursor: pointer;
            }
        }

        & .button-block {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            & .error {
                margin-top: 0.25rem;
            }

            label {
                margin-top: 0.5rem;
            }
        }
    }

    &__form-submit {
        border: none;
        border-radius: 20px;
        font-size: var(--font-size--main);
        text-transform: uppercase;
        padding: 0.75rem 1.5rem;
        color: var(--white);
        background-color: var(--main-accent-color);

        &:hover {
            color: var(--font-primary);
            cursor: pointer;
        }

        &.disabled {
            background-color: var(--grey);

            &:hover {
                color: var(--white);
                cursor: default;
            }
        }
    }

    & .transparent-button {
        padding: 0.5rem 1rem;
        border-radius: 20px;
        border: none;
        text-transform: uppercase;

        color: var(--font-primary);
        font-family: var(--main-font-family);
        font-size: var(--font-size--main);
        background-color: transparent;

        &:hover {
            cursor: pointer;
            color: var(--main-accent-color);
        }
    }
}

.success-text {
    text-align: center;

    & .bold {
        font-weight: 700;
    }

    & .uppercase {
        text-transform: uppercase;
    }
}

.icon {
    &:hover {
        cursor: pointer;
        stroke: var(--main-accent-color);

        .icon__path {
            stroke: var(--main-accent-color);
        }
    }

}

input[type="file"] {
    display: none;
}