<div class="dropdown-collection" [class.disabled]="disabled" [class.edited]="edited">
    <ul class="dropdown-list" role="listbox">
        <li *ngFor="let option of options" tabindex="0" (click)="select(option)" role="option"><svg *ngIf="!checkSelected(option) else selectedIcon" width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.5" y="1" width="14" height="14" rx="2.5" stroke="#FDC04E"/>
            </svg><span>{{option.name}}</span></li>
    </ul>
</div>
<ng-template #selectedIcon><svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect x="3" y="3.5" width="9" height="9" rx="1" fill="#FDC04E"/>
    <rect x="0.5" y="1" width="14" height="14" rx="2.5" stroke="#FDC04E"/>
    </svg></ng-template>