<div class="skill-block">
    <div class="skill-container"
         *let="(viewModel.searchViewModel.showMoreMode$ | async) as isExpanded"
         [class.expanded]="isExpanded">
        <div class="skill-container__header-line">
            <skill-search [viewModel]="viewModel.searchViewModel"
                          [@contentExpansionHorizontal]="isExpanded ? 'expanded' : 'collapsed'">
            </skill-search>
            <skill-add [viewModel]="viewModel.additionViewModel">
            </skill-add>
        </div>
        <ng-container *let="lazyLoadingSkillService.list$ | async as skills">
            <div class="skill-container__skill-row" *ngIf="skills?.length">
                <div class="skill-container__skill-fade-row"
                     *ngIf="skillService.searchIsNotEmpty$ | async; else skillNotFound"
                >
                    <div class="skill" *ngFor="let skill of isExpanded ? skills : skills.slice(0, 5)">
                        {{skill.name}}
                        <cross2-icon class="skill__close" (click)="removeSkill(skill.id)"></cross2-icon>
                    </div>
                </div>
                <button class="secondary-button"
                        (click)="viewModel.toggleShowMore()"
                        [@contentExpansionHorizontal]="!isExpanded ? 'expanded' : 'collapsed'">
                    <span class="secondary-button__text_right">БОЛЬШЕ</span><plus-icon></plus-icon>
                </button>
            </div>
        </ng-container>
        <button class="secondary-button"
                (click)="viewModel.toggleShowMore()"
                [@contentExpansion]="isExpanded ? 'expanded' : 'collapsed'">
            <span class="secondary-button__text_right">СВЕРНУТЬ</span><minus-icon></minus-icon>
        </button>
    </div>
</div>

<ng-template #skillNotFound>
    <div class="not-found">
        <search-lens-icon class="not-found__image"></search-lens-icon>
        <p class="not-found__title">НЕТ СОВПАДЕНИЙ</p>
        <p class="not-found__text">
            Попробуйте изменить условия поиска или
            <span class="not-found__add-more-text" (click)="viewModel.enableAdditionMode()">добавьте навык</span>!
        </p>
    </div>
</ng-template>
