{% load inlinecss %}
{% inlinecss 'css/verification.css' %}

    <html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
    <div class="page">
        <div class="page__header">
                <span class="page__header-lk inscription-10-11">
                    личный кабинет
                </span>
            <div class="page__header-title-line">
                <h1 class="page__header-title header-20-28-bold">
                    ОТКЛИК НА РЕЗЮМЕ
                </h1>
                {% include 'verification/letter.svg' %}
            </div>
        </div>
        <div class="page__content">
            <span class="page__content-user-name inscription-12-17-bold">{{ resume.employee.fullname }},</span>
            <p class="page__content-appeal inscription-12-14">
                Добро пожаловать на <a class="page__content-portal-link" target="_blank" href="{{ portal_link }}">
                HR-портал "Очень Интересно"</a>!<br>
                Пожалуйста, подтвердите свою почту. Это защитит ваш аккаунт,
                а ещё с помощью почты вы сможете восстановить пароль, если вдруг его забудете.
            <div class="page__content-button-wrapper">
                <button class="page__content-button inscription-12-14">
                    <a class="page__content-button-link inscription-12-14" target="_blank" href="{{ url }}">
                        ПОДТВЕРДИТЬ ПОЧТУ
                    </a>
                </button>
                <p class="page__content-button-inscription inscription-10-11">
                    Или скопируйте и вставьте в браузере эту ссылку:<br>
                    {{ url }}
                </p>
            </div>
        </div>
        <div class="page__footer">
            По любым вопросам всегда поможет <a class="page__footer-support-link" target="_blank"
                                                href="https://t.me/A2n98">служба поддержки</a>.
            <br>
            <br>
            С заботой о вас,
            команда HR-портала
        </div>
    </div>
    </body>
    </html>

{% endinlinecss %}
