<div class="wrapper" *ngIf="user$ | async as user">
    <div class="wrapper-grid" *ngIf="viewModel$ | async as viewModel">
        <div class="wrapper-flex column-1-6">
            <div class="user-profile">
                <div class="user-profile__header">
                    <img [src]="(iconUrl$ | async)" class="user-profile__photo" (error)="setDefaultIcon()">
                    <div class="user-profile__header-info">
                        <div class="user-profile__name">
                            {{viewModel.name}}
                        </div>
                        <div class="user-profile__role" *ngIf="viewModel.role">
                            {{viewModel.role}}
                        </div>
                    </div>
                </div>
                <div class="user-profile__personal" *ngIf="viewModel.personalCanBeViewed">
                    <h3>Персональная информация</h3>
                    <div class="user-profile__email" *ngIf="viewModel.email">
                        {{viewModel.email}}
                    </div>
                    <div class="user-profile__contact" *ngIf="viewModel.contact">
                        {{viewModel.contact}}
                    </div>
                </div>
                <div class="user-profile__career" *ngIf="viewModel.careerCanBeViewed">
                    <h3>Карьера</h3>
                    <div class="user-profile__experience" *ngIf="viewModel.workExperience">
                        {{viewModel.workExperience}}
                    </div>
                </div>
                <div class="user-profile__skills">
                    <h3>Навыки</h3>
                    <div class="user-profile__skill-array" *ngIf="viewModel.skills.length else skillsMissing">
                        <div class="skill" *ngFor="let skill of viewModel.skills">
                            {{skill.name}}
                        </div>
                    </div>
                    <ng-template #skillsMissing>
                        <span class="user-profile__no-skills">Навыков нет</span>
                    </ng-template>
                </div>
            </div>
        </div>
        <div class="wrapper-flex column-11-13" *ngIf="(user.isAdmin || user.isManager) && user.id !== viewModel.id">
            <div (click)="deleteEmployee(viewModel)"
                 *ngIf="viewModel.isActive"
                 class="manager-button">
                <span>Удалить</span>
            </div>
        </div>
    </div>
</div>


