<div class="wrapper">
    <div class="wrapper-grid" *ngIf="user$ | async as user">
        <form class="form column-1-9 enabled" *ngIf="vacancyForm" [formGroup]="vacancyForm" (ngSubmit)="createVacancy()">
            <div class="title">
                <div class="title__position">
                    <h1>{{ vacancyForm.controls['position'].value === '' ? 'Название вакансии' : vacancyForm.controls['position'].value }}</h1>
                    <span class="department" *ngIf="departments$ | async as departments">{{ getDepartment(departments, user) }}</span>
                </div>
            </div>
            <div class="salary">от {{vacancyForm.controls['salary'].value === '' ? '?' : vacancyForm.controls['salary'].value}} рублей</div>
            <div class="skills">
                <div class="skills__box">
                    <span class="no-skills" *ngIf="!vacancyForm.controls['requiredSkills'].value?.length">Нет
                        навыков</span>
                    <div class="skill" *ngFor="let skill of vacancyForm.controls['requiredSkills'].value"
                        (click)="deleteSkill(skill)">
                        <span>{{skill.name}}</span>
                        <svg width="10" height="11" viewBox="0 0 10 11" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.67969 3.14685L7.27588 7.74304" stroke="#D9D9D9" stroke-linecap="round" />
                            <path d="M2.67969 7.74304L7.27588 3.14685" stroke="#D9D9D9" stroke-linecap="round" />
                        </svg>
                    </div>
                </div>
                <div class="skills__add" *ngIf="!isAddingSkill"
                     (click)="isAddingSkill = true">
                    <svg class="add-icon" width="10" height="11" viewBox="0 0 10 11" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path class="stroke" d="M2.67969 3.14685L7.27588 7.74304" stroke="#D9D9D9"
                            stroke-linecap="round" />
                        <path class="stroke" d="M2.67969 7.74304L7.27588 3.14685" stroke="#D9D9D9"
                            stroke-linecap="round" />
                    </svg><span>Добавить</span>
                </div>
                <div class="skills__search" *ngIf="isAddingSkill">
                    <app-select-with-search [options]="(skills$ | async)!"
                        [alreadySelected]="vacancyForm.controls['requiredSkills'].value" [isActive]="isAddingSkill"
                        (closed)="isAddingSkill = $event" (currentValueChange)="addedSkill($event)">
                    </app-select-with-search>
                </div>
            </div>
            <div class="input-label">
                <label>Введите название вакансии</label>
                <div class="input-block">
                    <input class="long-input" type="position" formControlName="position" placeholder="Должность"
                        (input)="positionChange()">
                    <app-error [@contentExpansion]="errors.position ? 'expanded' : 'collapsed'"
                        [error]="errors.position!"></app-error>
                </div>
            </div>
            <div class="input-label">
                <label>Введите заработную плату</label>
                <div class="input-block">
                    <input class="input-60" type="salary" mask="09999999" suffix="₽" formControlName="salary"
                        placeholder="Заработная плата" (input)="salaryChange()">
                    <app-error [@contentExpansion]="errors.salary ? 'expanded' : 'collapsed'" [error]="errors.salary!">
                    </app-error>
                </div>
            </div>
            <div class="description">
                  <editor apiKey="uhxdv14l2ehb88ytf6psbig8e346kiy941wcfvgbv713nmxe" [init]="{
                    icons: 'material',
                    skin: 'borderless',
                    menubar: false,
                    menu: {},
                    toolbar: true,
                    statusbar: false,
                    plugins: 'autoresize',
                    content_style:
                    'body { font-size: 16px; font-family: Montserrat, sans-serif; }'
                  }" formControlName="description"></editor>
            </div>
            <div class="schedule">
                <app-select-small formControlName="employment" [options]="employment" [title]="'Занятость'">
                </app-select-small>
                <app-select-small formControlName="schedule" [options]="schedule" [title]="'График'"></app-select-small>
            </div>
            <div class="submit">
                <div class="buttons">
                    <input type="submit" value="СОЗДАТЬ ВАКАНСИЮ"
                        [disabled]="!vacancyForm.valid">
                </div>
                <app-error [error]="submitError"></app-error>
            </div>
        </form>
    </div>
</div>