<div class="wrapper">
    <div class="wrapper-grid">
        <div class="wrapper-flex column-4-10">
            <div class="title">
                <svg width="52" height="25" viewBox="0 0 52 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M17.705 0.499998H23.375V25H17.705V0.499998ZM6.575 25H0.905V0.499998H6.575V25ZM18.125 14.955H6.155V10.16H18.125V14.955ZM29.8716 25V0.499998H40.4766C42.6699 0.499998 44.5599 0.861665 46.1466 1.585C47.7333 2.285 48.9583 3.3 49.8216 4.63C50.6849 5.96 51.1166 7.54667 51.1166 9.39C51.1166 11.21 50.6849 12.785 49.8216 14.115C48.9583 15.4217 47.7333 16.425 46.1466 17.125C44.5599 17.825 42.6699 18.175 40.4766 18.175H33.0216L35.5416 15.69V25H29.8716ZM45.4466 25L39.3216 16.11H45.3766L51.5716 25H45.4466ZM35.5416 16.32L33.0216 13.66H40.1616C41.9116 13.66 43.2183 13.2867 44.0816 12.54C44.9449 11.77 45.3766 10.72 45.3766 9.39C45.3766 8.03667 44.9449 6.98667 44.0816 6.24C43.2183 5.49333 41.9116 5.12 40.1616 5.12H33.0216L35.5416 2.425V16.32Z"
                        fill="#FDC04E" />
                </svg>
                <label>РЕГИСТРАЦИЯ</label>
            </div>
            <form class="form" [formGroup]="signUpForm" (submit)="signUp()">
                <input id="fullname" formControlName="fullname" type="fullname" class="form-control" placeholder="ФИО"
                    (input)="fullnameChange()">
                <input id="email" formControlName="email" type="email" class="form-control"
                    [placeholder]="emailPlaceholder" (blur)="emailBlur()" (focus)="emailFocus()"
                    (input)="emailChange()">
                <input id="password" formControlName="password" type="password" class="form-control"
                    [placeholder]="passwordPlaceholder" (blur)="passwordBlur()" (focus)="passwordFocus()"
                    (input)="passwordChange()">
                <input id="confirmPassword" formControlName="confirmPassword" type="password" class="form-control"
                    placeholder="Подтвердите пароль" (input)="confirmPasswordChange()">
                <app-errors [errors]="errors"></app-errors>
                <input type="submit" value="Зарегистрироваться" [disabled]="signUpForm.invalid || signUpForm.pending">
            </form>
            <p class="error" [@contentExpansion]="submitError ? 'expanded' : 'collapsed'">{{ submitError?.message }}</p>
            <div class="navigation">
                <label>Есть аккаунт?</label>
                <label class="navigation-button" (click)="toSignIn()">Войти</label>
            </div>
        </div>
    </div>
</div>