<div class="wrapper">
    <div class="search">
        <app-vacancy-search (madeSearch)="resetSearch()" (filterToggle)="toggleFilters()"></app-vacancy-search>
    </div>
    <div class="error" *ngIf="loadingError">{{loadingError}}</div>
    <div class="content">
        <div class="filters" [@contentExpansionHorizontal]="filtersExpanded ? 'expanded' : 'collapsed'"
             stickySidebar containerSelector=".content" innerWrapperSelector=".inner" topSpacing="24"
             bottomSpacing="24" [minWidth]="400" [updateSticky]="update$">
            <div class="inner">
                <app-vacancy-filters (madeSearch)="resetSearch()"></app-vacancy-filters>
            </div>
        </div>
        <div class="vacancies" *ngIf="vacancies.length else noVacancies">
            <app-vacancy-card class="width" *ngFor="let vacancy of vacancies"
                              [vacancy]="vacancy"></app-vacancy-card>
        </div>
    </div>
    <div class="scroll-back" *ngIf="canScrollBack" (click)="scrollBack()">
        <up-arrow-icon></up-arrow-icon>
        <span>Назад</span>
    </div>
</div>

<ng-template #noVacancies>
    <div class="no-vacancies">
        <div class="no-vacancies__text">
            <span>Вакансий не найдено :(</span>
        </div>
    </div>
</ng-template>
