{% load inlinecss %}
{% inlinecss 'css/change-password.css' %}

    <html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
    <div class="page">
        <div class="page__header">
                <span class="page__header-lk inscription-10-11">
                    личный кабинет
                </span>
            <div class="page__header-title-line">
                <h1 class="page__header-title header-20-28-bold">
                    ЗАБЫЛИ ПАРОЛЬ?
                </h1>
                {% include 'change-password/shield.svg' %}
            </div>
        </div>
        <div class="page__content">
            <span class="page__content-user-name inscription-12-17-bold">{{ user.fullname }},</span>
            <p class="page__content-appeal inscription-12-14">
                не переживайте!<br>
                Перейдите по кнопке и восстановите пароль.
            </p>
            <div class="page__content-button-wrapper">
                <button class="page__content-button inscription-12-14">
                    <a class="page__content-button-link inscription-12-14" target="_blank" href="{{ url }}">
                        СМЕНИТЬ ПАРОЛЬ
                    </a>
                </button>
                <p class="page__content-button-inscription inscription-10-11">
                    Или скопируйте и вставьте в браузере эту ссылку:<br>
                    {{ url }}
                </p>
            </div>
        </div>
        <div class="page__footer">
            Если вы не отправляли запрос на смену пароля или передумали, просто не обращайте внимания на это письмо.
            <br>
            <br>
            По любым вопросам всегда поможет <a class="page__footer-support-link" target="_blank"
                                                href="https://t.me/A2n98">служба поддержки</a>.
            <br>
            <br>
            С заботой о вас,
            команда HR-портала
        </div>
    </div>
    </body>
    </html>

{% endinlinecss %}
