<div class="wrapper">
    <div class="wrapper-grid">
        <div class="wrapper-flex column-1-13" *ngIf="user | async as user">
            <div class="additional-buttons" *ngIf="user.isManager || user.isAdmin">
                <button class="manager-button" (click)="createVacancy()">Добавить вакансию</button>
                <!-- empty for now -->
            </div>
            <div class="content">
                <app-search></app-search>
                <div class="error" *ngIf="loadingError">{{loadingError}}</div>
                <app-vacancy class="width" *ngFor="let vacancy of vacancies" [vacancy]="vacancy"></app-vacancy>
            </div>          
        </div>      
    </div>  
</div>

