/* You can add global styles to this file, and also import other style files */
@function hex-to-rgb($hex) {
    @return red($hex), green($hex), blue($hex);
}

html {
    --white: #fff;
    --primary-color: #ffffff;
    --black: #000;
    --grey: #D9D9D9;
    --font-primary: #4C4C4C;
    --font-primary-rgb: hex-to-rgb(#4C4C4C);
    --font-disabled: rgba(76, 76, 76, 0.5);
    --main-accent-color: #FDC04E;
    --main-accent-color-rgb: #{hex-to-rgb(#FDC04E)};
    --main-accent-color-hover: #be913d;
    --main-accent-color-active: #8e6f2d;
    --main-accent-color-selector-hover: #faeed7;
    --main-accent-grey: #323535;
    --additional-accent-color: #f9f9f9;
    --disabled-color: #949597;
    --border-color: #D9D9D9;
    --input-background-color: #EBEAEA;
    --input-placeholder-color: #949597;
    --box-shadow-color: rgba(76, 76, 76, 0.1);
    --underline-text-hover: #5b0fe7;
    --error-background-color: rgba(255, 0, 0, 0.1);
    --error-text-color: #ff0000;
    --success-text-color: #00ff00;

    --box-shadow--main: 0px 0px 30px 2px var(--box-shadow-color);
    --font-size--main: 16px;
    --font-size--small: 12px;

    --main-font-family: 'Montserrat', sans-serif;
}

body {
    font-family: var(--main-font-family);
    font-size: var(--font-size--main);
    color: var(--font-primary);
    background-color: var(--additional-accent-color);
    font-weight: 400;
    margin: 0;
    padding: 0;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-button {
        display: none;
    }

    &::-webkit-scrollbar-track {
        display: none;
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background: var(--main-accent-color);
        border-radius: 10px;

        &:hover {
            background: var(--main-accent-color-hover);
        }
    }
}

.app-loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--additional-accent-color);

    &__loader-ring {
        width: 50px;
        height: 50px;
    }
}

.wrapper-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 1em;
    width: 80%;
}

.column-1-6 {
    grid-column: 1 / 6;
}

.column-1-9 {
    grid-column: 1 / 9;
}

.column-4-10 {
    grid-column: 4 / 10;
}

.column-7-13 {
    grid-column: 7 / 13;
}

.column-1-13 {
    grid-column: 1 / 13;
}

.column-11-13 {
    grid-column: 11 / 13;
}

@media screen
    and (min-width: 1280px)
{
    .wrapper-grid {
        width: 80%;
        grid-template-columns: repeat(12, 1fr);
    }
}

@media screen
    and (max-width: 1000px)
    and (min-width: 700px)
{
    .wrapper-grid {
        width: 80%;
        grid-template-columns: repeat(12, 1fr);
    }
}
