.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.wrapper-flex {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.additional-buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    & .manager-button {
        border: none;
        border-radius: 20px;
        font-size: var(--font-size--main);
        background-color: var(--main-accent-color);
        font-family: var(--main-font-family);
        font-weight: 600;
        color: var(--white);
        padding: 0.8rem 1.6rem;
        text-transform: uppercase;

        &:hover {
            cursor: pointer;
            color: var(--font-primary);
        }
    }
}

.content {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-top: 2.5rem;
    flex-direction: column;
    align-items: center;
}

.width {
    width: 100%;
}