.search {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;

    & .counter {
        span {
            font-weight: 600;
        }
    }

    & .forms {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;

        & .filter-button {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--main-accent-color);
            border-radius: 50%;
            width: 35px;
            height: 35px;
            transition: .3s ease;
            cursor: pointer;

            &:hover {
                transform: scale(1.2);
            }
        }
    }

    &__input {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .1rem;
        border: 1px solid var(--border-color);
        background-color: var(--white);
        border-radius: 10px;
        padding: 0.35rem 0.7rem;

        input {
            width: 100%;
            transition: .3s ease;
            border: none;
            background-color: transparent;
            font-size: var(--font-size--main);
            font-family: var(--main-font-family);
            color: var(--font-primary);

            &:focus {
                outline: none;
            }

            &::placeholder {
                color: var(--input-placeholder-color);
            }
        }

        & .tools {
            display: flex;
            align-items: center;
            gap: .5rem;
            justify-content: center;

            & .clear {
                box-sizing: border-box;
                transition: .3s ease;
                cursor: pointer;
                &:hover {
                    transform: scale(1.2);
                }
            }

            & .magnifier {
                box-sizing: border-box;
                transition: .3s ease;
                cursor: pointer;
                &:hover {
                    transform: scale(1.2);
                }
            }
        }

        &:hover {
            border-color: var(--main-accent-color);
        }

        &:has(input:focus) {
            border-color: var(--main-accent-color);
        }
    }

}