<div class="content" *let="employeesModelList$ | async as employeeList">
    <div class="error" *ngIf="loadingError">
        {{loadingError}}
    </div>
    <div class="content__main">
        <div class="resumes">
            <employee-card class="width"
                        *ngFor="let employee of employeeList"
                        [employeeData]="employee"
            (userEdited)="userEdited()">
            </employee-card>
        </div>
    </div>
    <scroll-up-button></scroll-up-button>
</div>
